/node_modules

/public/hot
/public/storage !/app/img !/lessons_img
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

_ide_helper.php
.phpstorm.meta.php

app/Photo.php
app/Http/Controllers/API/PhotoController.php
app/Http/Controllers/PhotoController.php